backend/n8n/workflows/lexai.json
{
  "name": "LexAI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "findlawyer",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "31740033-e58c-47e9-b050-52c59694a9ad",
      "name": "Webhook",
      "webhookId": "ab61c7ee-4a6e-4a24-bd6f-0b96ea83f072"
    },
    {
      "parameters": {
        "jsCode": "// Constants used throughout validation\nlet valid = true; \nconst REQUIRED_KEYS = new Set([\"priceLow\", \"priceHigh\", \"city\", \"caseType\", \"languages\", \"disabilityFocused\", \"description\"]);\nconst invalidString = s => typeof s !== \"string\" || s.trim().length === 0;\n\n// Get JSON to validate\nconst body = $input.first().json.body;\n\n// Check if all fields are present\nif ([...REQUIRED_KEYS].some(k => body[k] == null)) valid = false;\nelse if (!Object.keys(body).every(k => REQUIRED_KEYS.has(k))) valid = false;\nelse {\n  // Extract all fields for individual validation checks\n  const {priceLow, priceHigh, city, caseType, languages, disabilityFocused, description} = body;\n  \n  // Check if fields are valid\n  if (\n    !Number.isFinite(priceLow) ||\n    !Number.isFinite(priceHigh) ||\n    priceLow < 0 || \n    priceHigh < 0 || \n    priceLow > priceHigh\n  ) valid = false;\n  else if (invalidString(city)) valid = false;\n  else if (invalidString(caseType)) valid = false;\n  else if (\n    !Array.isArray(languages) || \n    languages.some(lang => invalidString(lang))\n  ) valid = false;\n  else if (typeof disabilityFocused !== \"boolean\") valid = false;\n  else if (invalidString(description)) valid = false;\n}\n\n// Return the body and the valid flag \nreturn [{json: {...body, valid}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "3ef85916-47bb-4eae-90ab-9b84ff60e2ec",
      "name": "Validate Structure"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a search agent whose purpose is to find lawyers only in Texas that match specific criteria and can help with a case specified below. Find lawyers that match the specified criteria and have expertise in the case description. Only deviate from the criteria if fewer than 3 matching lawyers are found — if deviating, prioritize price range over location and note the deviation in the lawyer's description.\n\nFor each lawyer you find, write a description based only on verifiable information found via search, covering their specialization, case history, and strengths. If limited information is available, focus on their listed specializations and case types. Do not fabricate or infer details not found in search results. You MUST use the search tool to find real lawyers. Do not rely on your training data or make up any lawyer details. Every lawyer you return must be found via a search tool call.\n\nKeep all search queries short and plain, under 10 words. Never use quotes, parentheses, or special characters in search queries. Make no more than 5 search calls total. After your searches, compile the results and return the JSON immediately. Do not search more than necessary. For each lawyer, make only one search call. Do not make follow-up verification searches.\n\nThe case description is:\n{{ $json.description }}\n\nThe criteria are:\nMinimum Price (hourly rate in USD, fees included): {{ $json.priceLow }}\nMaximum Price (hourly rate in USD, fees included): {{ $json.priceHigh }}\nCity: {{ $json.city }}\nCase Type: {{ $json.caseType }}\nLanguages: {{ $json.languages.join(\", \") }}\nDisability Focused: {{ $json.disabilityFocused ? \"Yes\" : \"No\" }}\n\nReturn your response as a JSON object with a single \"lawyers\" array. Each lawyer must have exactly the following fields:\n- name (string)\n- cost (integer, hourly rate in USD)\n- location (string)\n- years_of_experience (integer)\n- email (string)\n- phone (integer)\n- website (string)\n- description (string)\n\nReturn nothing else — no explanation, no markdown, just the raw JSON object. Do not wrap your response in markdown code blocks. Return only the raw JSON object.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        -192
      ],
      "id": "2bc67b32-2b0e-4778-a605-e7827df0c78e",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"lawyers\": [\n    {\n      \"name\": \"Margaret Chen\",\n      \"cost\": 350,\n      \"location\": \"Austin\",\n      \"years_of_experience\": 14,\n      \"email\": \"mchen@chenlaw.com\",\n      \"phone\": 5122348901,\n      \"website\": \"chenlawaustin.com\",\n      \"description\": \"Margaret specializes in employment discrimination and wrongful termination cases, bringing over a decade of experience fighting for workers' rights against corporate misconduct. She has secured over $12M in settlements for her clients and is known for her aggressive negotiation style and personalized approach to each case.\"\n    },\n    {\n      \"name\": \"David Okafor\",\n      \"cost\": 500,\n      \"location\": \"Austin\",\n      \"years_of_experience\": 20,\n      \"email\": \"dokafor@okaforinjury.com\",\n      \"phone\": 5129874532,\n      \"website\": \"okaforinjury.com\",\n      \"description\": \"David is a board-certified personal injury attorney with two decades of courtroom experience. He focuses on catastrophic injury and medical malpractice cases, and has won landmark verdicts that have shaped Texas tort law. His firm operates on a contingency basis — you pay nothing unless he wins.\"\n    },\n    {\n      \"name\": \"Sofia Reyes\",\n      \"cost\": 200,\n      \"location\": \"Austin\",\n      \"years_of_experience\": 6,\n      \"email\": \"sreyes@reyesfamilylaw.com\",\n      \"phone\": 5124561238,\n      \"website\": \"reyesfamilylaw.com\",\n      \"description\": \"Sofia is a bilingual family law attorney fluent in English and Spanish, dedicated to helping families navigate divorce, custody, and immigration-related legal challenges. Her affordable rates and compassionate approach make quality legal representation accessible to underserved communities across Travis County.\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        768,
        32
      ],
      "id": "3e959bcf-5594-43f7-8090-1599778d449b",
      "name": "Parser"
    },
    {
      "parameters": {
        "toolDescription": "Performs an internet search.",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"{{ $env.TAVILY_API_KEY }}\",\n  \"query\": \"{{ $fromAI('query', 'Search query') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        736,
        -336
      ],
      "id": "9cc73728-145c-4340-b39d-94c11e8f15a0",
      "name": "Tavily"
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-large-preview:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        624,
        -336
      ],
      "id": "99dd8d51-4f8e-4c27-b900-3289101c8410",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "yKmrPIyHxd0KO9S7",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output.lawyers }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        976,
        -192
      ],
      "id": "401d6ccf-aae0-4607-a174-d31b5b34fd03",
      "name": "Actual Response"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        384
      ],
      "id": "e5516dac-b6ed-4342-b8eb-c1cae8bc3a64",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7649967e-f86e-44dc-80ac-ac20a7f24d65",
              "leftValue": "={{ $json.valid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "a565e935-1187-42bd-a726-82035a777447",
      "name": "Structure Check"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"Invalid input\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        176
      ],
      "id": "d693668d-2ab0-4e1c-86e7-91f7b942bf8d",
      "name": "Invalid Structure Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"Too many requests\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        208,
        384
      ],
      "id": "23a01bd0-e85c-4546-a5c7-11bfb4d1dbda",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Structure": {
      "main": [
        [
          {
            "node": "Structure Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Actual Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structure Check": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Structure Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1682af12-df2d-4478-89e4-66fa141298b9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f2fbd20fef49902a1e4ccac6d94de73e04784642201a97e3dd11e84b739a5106"
  },
  "id": "RcbS4gOWVJb1WHK8",
  "tags": []
}